
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="A Book Trading Club">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>BookTradingClub | Nick Papasavvas</title>

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/css/ie10-viewport-bug-workaround.css" rel="stylesheet"> 
    <!-- Font Awesome -->  
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet">  
    <!-- My styles -->
    <link href="/css/styles.css" rel="stylesheet">
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script type="text/javascript" src='/custom/js/customSocket.js'></script>  
    <style>
        .unavailable{
            display:none;
        }
        .request.unavailable{
            display:inherit;
             pointer-events: none;
        }
      
    </style>
  </head>

  <body>
      {{{_sections.Menu}}}
      
      {{{body}}}
      



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/jquery/dist/jquery.min.js"><\/script>')</script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/js/ie10-viewport-bug-workaround.js"></script>
    <script> 
//        http://stackoverflow.com/questions/1070760/javascript-function-in-href-vs-onclick
        $('.request').click( function(e) {
            e.preventDefault();
            /*your_code_here;*/
            location.href = '/request/' + this.href.slice(22) ; 
            return false; } );
        $('.btn-success').click( function(e) {
            e.preventDefault();
            /*your_code_here;*/
            location.href = '/accept/' + this.id.slice(2) ; 
            return false; } );    
        $('.btn-danger').click( function(e) {
            e.preventDefault();
            /*your_code_here;*/
            location.href = '/reject/' + this.id.slice(2) ; 
            return false; } ); 
    </script>
  </body>
</html>
