{{#section 'Menu'}} 
    {{#if logoutMenu}}
        {{> logoutMenu}} 
    {{else}}
        {{> loginMenu}}
    {{/if}}
{{/section}}


<section class="container-fluid ">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbo text-center">
        <h1 >bookTrader</h1>
        <p>The first rule of bookTrader is don't talk about bookTrader.</p>
        <i class='fa fa-leaf fa-5x'></i> 
      </div>

   
    
    
        <div class='row '> 
            <div class='col-xs-12'><h1> Features</h1> </div>
        </div>
        <div class='row  '>
            <div class='col-xs-12 col-sm-3'>
                <a href=''>Catalogue your books online</a>
            </div>
            <div class='col-xs-12 col-sm-3'>
                <a href=''>See all of the books our users own</a>
            </div>
            <div class='col-xs-12 col-sm-3'>
                <a href=''>Request to borrow other user's books</a>
            </div>
            <div class='col-xs-12 col-sm-3'>
                <a href=''>Easily manage books and request from your dashboard</a>
            </div>
        </div>
    </section> <!-- /container -->
   
    <footer class='footer'>
        <div class='container-fluid text-center'>
            <a href=''>helo</a>
        </div>
    </footer>

